<div class="row">
  <div class="col s12 m8 rankTitle">
    <h3>{{story.title}}</h3>
    <div class="card story">
      <div class="card-content">
        <span class="card-title">{{formatDate story.date 'MMMM Do YYYY'}}</span>
        {{{story.body}}}
      </div>
    </div>
  </div>
  <div class="col s12 m4">
    <div class="card center-align">
      <div class="card-content">
        <span class="card-title">{{story.user.firstName}} {{story.user.lastName}}</span>
        <img src="{{story.user.image}}" class="circle responsive-img">
      </div>
      <div class="card-action">
        <a href="/stories/user/{{story.user.id}}">More From {{story.user.firstName}}</a>
      </div>
    </div>
  </div>
  {{promiseHandle graSpell}}
  <div class="rank-section">
    <div class="col s12 m4">
      <div class="card center-align">
        <div class="card-content">
          <span class="card-title">Article Details:</span>
          <hr style="height:5px; background-color:gray; border:none;">
          <table>
          <tbody>
            <tr>
              <td>Sentences</td>
              <td></td>
              <td>{{senNo wordSen}}</td>
            </tr>
            <tr>
              <td>Words</td>
              <td></td>
              <td>{{wordNo wordSen}}</td>
            </tr>
            <tr>
              <td>Paragraphs</td>
              <td></td>
              <td>{{paragraphNo wordSen}}</td>
            </tr>
            <tr>
              <td>Content Type</td>
              <td></td>
              <td>{{story.topic}}</td>
            </tr>
            <tr>
              <td>Reading Time</td>
              <td></td>
              <td>{{readingTime wordSen}} sec</td>
            </tr>
            <tr>
              <td>Speaking Time</td>
              <td></td>
              <td>{{speakingTime wordSen}} sec</td>
            </tr>
          </tbody>
        </table>
        </div>
      </div>
    </div>
    <div class="col s12 m4">
      <div class="card center-align">
        <div class="card-content">
          <span class="card-title">Keywords Details:</span>
          <hr style="height:5px; background-color:gray; border:none;">
          <div class="KeyWords-list">
            <table class="responsive-table">
            <tbody>
              {{#eachProperty words}}
              <tr>
                <td>{{property}}</td>
                <td></td>
                <td>{{value}}</td>
              </tr>
              {{/eachProperty}}
            </tbody>
          </table>
          </div>
        </div>
      </div>
    </div>
    <div class="col s12 m4">
      <div class="card center-align">
        <div class="card-content">
          <span class="card-title">Grammar & Spelling:</span>
          <hr style="height:5px; background-color:gray; border:none;">
          <table>
          <tbody>
            <tr>
              <td>Grammar</td>
              <td></td>
              <td>NA</td>
            </tr>
            <tr>
              <td>Spelling</td>
              <td></td>
              <td>NA</td>
            </tr>
          </tbody>
        </table>
        </div>
      </div>
    </div>
  </div>
  <div class="pointSection">
    <div class="col s12 m4">
      <div class="card center-align">
        <div class="card-content">
          <span class="card-title">Article Point:</span>
          <hr style="height:5px; background-color:gray; border:none;">
          <h5>Point: {{articlePoint wordSen}}</h5>
          <form action="/stories/point/{{story.id}}/{{articlePoint wordSen}}?_method=PUT" method="post" class="col s12">
          <input type="submit" value="Save Your Point" class="waves-effect waves-light btn">
        </form>
        </div>
      </div>
    </div>
  </div>
</div>
